@model Phan_Văn_Hòa_CNTT2.Models.DON_HANG

@{
    ViewBag.Title = "Delete";
}

<h2></h2>
<div>
    <h4></h4>
    <hr />
    <dl class="QTV4">

        <h3>Bạn có muốn xóa đơn hàng này không</h3>

        <dt>
            <p class="control-label1">Tên Khách Hàng</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHACH_HANG.TEN_KHACH_HANG)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.NGAY_DAT_HANG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAY_DAT_HANG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAY_GIAO_HANG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAY_GIAO_HANG)
        </dd>*@

        <dt>
            <p class="control-label1">Trạng Thái</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRANG_THAI)
        </dd>

        <dt>
            <p class="control-label1">Tổng Tiền</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TONG_TIEN)
        </dd>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Có" class="btn btn-default" /> |
                @Html.ActionLink("Không", "Index", "Home", new { @class = "btn btn-success" })
            </div>
        }
    </dl>

    
</div>
