@model Phan_Văn_Hòa_CNTT2.Models.KHACH_HANG

@{
    ViewBag.Title = "Create";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Style.css">
</head>
<h2></h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="QTV4">
        <h4>Vui lòng Đăng Nhập</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <p class="control-label1">Tên Khách Hàng</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.TEN_KHACH_HANG, new { htmlAttributes = new { @class = "form-control1" } })
            @Html.ValidationMessageFor(model => model.TEN_KHACH_HANG, "", new { @class = "text-danger1" })
        </div>
    </div>

    <div class="form-group">
        <p class="control-label1">Email</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control1" } })
            @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger1" })
        </div>
    </div>

    <div class="form-group">
        <p class="control-label1">Số Điện Thoại</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.SO_DIEN_THOAI, new { htmlAttributes = new { @class = "form-control1" } })
            @Html.ValidationMessageFor(model => model.SO_DIEN_THOAI, "", new { @class = "text-danger1" })
        </div>
    </div>

    <div class="form-group">
        <p class="control-label1">Địa Chỉ</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.DIA_CHI, new { htmlAttributes = new { @class = "form-control1" } })
            @Html.ValidationMessageFor(model => model.DIA_CHI, "", new { @class = "text-danger1" })
        </div>
    </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.NGAY_TAO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NGAY_TAO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NGAY_TAO, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm" class="btn btn-default" />
                @Html.ActionLink("Quay Lại", "Index", "Home", new { @class = "btn btn-success" })
            </div>
        </div>
    </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
