@model IEnumerable<Phan_Văn_Hòa_CNTT2.Models.KHACH_HANG>

@{
    ViewBag.Title = "Index";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Style.css">
</head>
<h2 class="QTV3">Thông tin khách hàng</h2>

<p class="QTV3">
    @Html.ActionLink("Thêm Mới", "Create")
</p>
<table class="table1">
    <tr>
        <th>
            <p>Tên Khách Hàng</p>
        </th>
        <th>
            <p>Email</p>
        </th>
        <th>
            <p>Số Điện Thoại</p>
        </th>
        <th>
            <p>Địa Chỉ</p>
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.NGAY_TAO)
        </th>*@
        <th><p>Chức Năng</p></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="QTV2">
                @Html.DisplayFor(modelItem => item.TEN_KHACH_HANG)
            </td>
            <td class="QTV2">
                @Html.DisplayFor(modelItem => item.EMAIL)
            </td>
            <td class="QTV2">
                @Html.DisplayFor(modelItem => item.SO_DIEN_THOAI)
            </td>
            <td class="QTV2">
                @Html.DisplayFor(modelItem => item.DIA_CHI)
            </td>
            <!--<-->@*td>
                @Html.DisplayFor(modelItem => item.NGAY_TAO)
            </td>*@
        <td class="">
            @Html.ActionLink("Xem", "Details", new { id = item.MA_KHACH_HANG }, new { @class = "btn-custom btn-view" }) |
            @Html.ActionLink("Sửa", "Edit", new { id = item.MA_KHACH_HANG } , new { @class = "btn-custom btn-edit"}) |
            @Html.ActionLink("Xóa", "Delete", new { id = item.MA_KHACH_HANG }, new { @class = "btn-custom btn-delete" })
        </td>
        </tr>
    }

</table>


