@model Phan_Văn_Hòa_CNTT2.Models.SAN_PHAM

@{
    ViewBag.Title = "Edit";
}

@*<h2>Sửa</h2>*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="QTV4">
    <h2>Sửa Sản Phẩm</h2>
    @*<h4>SAN_PHAM</h4>*@
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.MA_SAN_PHAM)

    <div class="form-group">
        <p class="control-label1">Tên Sản Phẩm</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.TEN_SAN_PHAM, new { htmlAttributes = new { @class = "form-control1" } })
            @Html.ValidationMessageFor(model => model.TEN_SAN_PHAM, "", new { @class = "text-danger1" })
        </div>
    </div>

    <div class="form-group">
        <p class="control-label1">Mô Tả</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.MO_TA, new { htmlAttributes = new { @class = "form-control1" } })
            @Html.ValidationMessageFor(model => model.MO_TA, "", new { @class = "text-danger1" })
        </div>
    </div>

    <div class="form-group">
        <p class="control-label1">Giá</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.GIA, new { htmlAttributes = new { @class = "form-control1" } })
            @Html.ValidationMessageFor(model => model.GIA, "", new { @class = "text-danger1" })
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.NGAY_TAO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NGAY_TAO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NGAY_TAO, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lưu" class="btn btn-default" />
            @Html.ActionLink("Quay Lại", "Index", "Home", new { @class = "btn btn-success" })
        </div>
    </div>
</div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
